[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
pony = "*"
"psycopg2" = "*"
Flask-Login = "*"
pytest = "*"
passlib = "*"


[dev-packages]



[requires]

python_version = "3.6"
