{% extends 'common/base.html.j2' %}

{% block content %}
  <h1>Demo Results</h1>

  <div class="card result-card">
    <div class="card-body">
      <h5 class="card-title">Base Rates</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              A Base Rate
            </th>
            <th scope="col">
              B Base Rate
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ results.base_rates[0] }}
            </td>
            <td>
              {{ results.base_rates[1] }}
            </td>
          </tr>
        </tbody>
      </table>
      <h5 class="card-title">Schema</h5>
      <table class="table">
        <thead>
          <tr>
            {% for name in results.demo_schema_header() %}
              <th scope="col">
                {{ name }}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for name, row in results.demo_schema().items() %}
            <tr>
              <th scope="row"> {{ name }} </th>
              {% for val in row %}
                <td> {{ val }} </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'experiments/_results.html.j2' %}
{% endblock %}
