/* Layout containers */
.root-container {
  max-width: 1280px;
  margin: auto;
}
.main-container {
  padding: 20px 15px;
}

/* Forms */
.form-container {
  max-width: 800px;
  margin: auto;
}

/* Nav styles */
.nav .nav-spacer {
  flex-grow: 2;
  flex-basis: auto;
}


/* Schema creator */
.schema-creator-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}

.schema-creator-field {
  margin: 0px 5px;
}
