<!doctype html>

<html lang="en">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
  <meta charset="utf-8">
  {% block head %}
  {% endblock %}
  </head>

  <body>
    <div class="root-container">
      <ul class="nav">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('experiments.list_experiments') }}">View my Experiments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('experiments.new_experiment') }}">Create an Experiment</a>
        </li>

        <li class="nav-item nav-spacer">
        </li>

        {% if is_user(current_user) %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.user_application_key') }}">App Key</a>
        </li>
        {% endif %}
        
        <li class="nav-item">
          {% include "common/nav_account_info.html.j2" %}
        </li>
      </ul>
      <div class="main-container">
        <div class="flash-container">
          {% for cat in ["danger", "success", "primary"] %}
            {% with messages = get_flashed_messages(category_filter=[cat]) %}
              {% if messages %}
                <div class="flashes-container">
                  {% for message in messages %}
                  <div class="alert alert-{{ cat }}" role="alert">
                    {{ message }}
                  </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
