{% extends 'common/base.html.j2' %}

{% block content %}
  <h3>Your application key</h3>
  <p>
    Your application key is {{ application_key }}. Use this key to authenticate all requests to the API.
  </p>
{% endblock %}
